<%- include('shared/htmlStart') -%>

<h1 class="titleHeading">About Reservation Station!</h1>

<p>Founded in 2024, Reservation Station is a brand-new reservation website with many available rental spots!</p>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis earum ipsam quis dolorum non deserunt tempore quibusdam, magni, reprehenderit voluptatem ex itaque maxime nam atque enim. Magnam, doloribus? Ab, reprehenderit?</p>

<h3>Reserve a vacation spot using Reservation Station <b>today!</b></h3>
<ol>
    <li>Login</li>
    <li>Visit Reservation page</li>
    <li>Choose a spot</li>
    <li>Reserve!</li>
</ol>

<%- include('shared/htmlEnd') -%>