<%- include('shared/htmlStart') -%>

<h1 class="titleHeading">Welcome to Reservation Station!</h1>

<p>Rent cottages, campsites, AirBNBs, hotels, motels, or other vacation spots in Canada!</p>

<p>We take pleasure in finding you the perfect vacation spot.</p>

<div id="imgDiv">
    <img src="images/beach.jpg" alt="Beach image" title="Beach" width="45%">
    <img src="images/forest.jpg" alt="Autumn forest image" title="Forest colours" width="45%">
</div>

<p>Reserve a vacation spot using Reservation Station <b>today!</b></p>

<%- include('shared/htmlEnd') -%>