<%- include('shared/htmlStart') -%>

<h1 class="titleHeading">Sign Up</h1>

<form action="/signupForm" method="post">
    <fieldset>
        <legend>Sign Up Form</legend>

        <div class="formInput">
            <label for="email">Email</label>
            <input type="email" name="email" id="email">
        </div>
        <div class="formInput">
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
        </div>

        <input type="submit" value="Sign Up">
    </fieldset>
</form>

<div id="errorDiv">
    <% if(typeof(errors) !== 'undefined') {
        if (typeof(errors) === 'string'){ %>
            <p><%= errors %></p>
        <% }else{
            for(var error of errors) { %>
                <p><%= error.msg %></p>
            <% }
        }
    } %>
</div>

<%- include('shared/htmlEnd') -%>