<%- include('shared/htmlStart') -%>

<h1 class="titleHeading">Thanks!</h1>

<p>Thanks for signing up/logging in/reserving a vacation spot! Enjoy exploring the rest of our website!</p>

<%- include('shared/htmlEnd') -%>