        <li><a href="/reservation">Reservation</a></li>
        <li><a href="/allReservations">All Reservations</a></li>
        <li><a href="/allUsers">All Users</a></li>
        <li><a href="/logout"><button id="buttonStyle" type="button">Logout</button></a></li>